.Row {
  text-align: center;
  --bs-gutter-x: 0;
  padding-top: 60px;
  justify-content: center;
}

.Col {
  padding: 20px;
  justify-content: center;
  text-decoration: underline;
}

.Card {
  width: 30%;
  margin: 10px;
  border: 1px solid black;
  background-color: #212529;
}

.Card:hover {
  -webkit-transform: scale(1.02);
}

.Card-Header {
  background-color: #212529;
  padding: 8px;
}

.Nav-Item:hover {
  background-color: #3b80e7;
  border-radius: 0.25rem;
}

.Nav-Link {
  color: #3b80e7;
}
.Nav-Link:hover {
  color: white;
  font-family: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Card-Body {
  color: white;
  background-color: #212529;
}

.Card-Title {
  display: inline-block;
}

.Card-Text {
  padding-top: 10px;
  margin: 2px;
}

.Card-Text-Desc {
  margin-top: 15px;
  padding-bottom: 15px;
}

#TitreCategorie {
  padding-top: 2%;
  text-decoration: underline;
  font-weight: bold;
}
