.Row-Decouv {
  text-align: center;
  --bs-gutter-x: 0;
}

.Col-Decouv {
  padding: 20px;
}

#TitreCategorie-Decouv {
  margin: 0px;
  padding-bottom: 0px;
  text-decoration: underline;
  font-weight: bold;
}

.Card-Decouv {
  margin: 10px;
  border: 1px solid black;
  /*display: flex;*/
  width: 100%;
}

.Card-Image-Decouv {
  float: right;
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.Card-Image-Decouv:hover {
  -webkit-transform: scale(1.01);
}

.Nav-Item-Decouv:hover {
  background-color: #0d6efd;
  border-radius: 0.25rem;
}

.Nav-Link-Decouv:hover {
  color: black;
  font-family: bold;
}

.Card-Body-Decouv {
  color: white;
  background-color: #212529;
  height: 350px;
}

.Card-Body-Decouv:hover {
  border-radius: 0.25rem;
  border: 1px solid black;
  -webkit-transform: scale(1.05);
}

.Card-Title-Decouv {
  display: inline-block;
}

.Card-Title-Decouv:hover {
  cursor: pointer;
  text-decoration: underline white;
}

.Card-Text-Desc-Decouv {
  margin-top: 15px;
}

#Description-Decouv {
  margin-top: 20px;
}

a.Card-Body-Decouv.card-body {
  color: white;
  text-decoration: none;
}
